<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.one_mobile">

    <!-- Permission required to check the network connection state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Permission required to access the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/one_mobile"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- Configuration pour démarrer directement sur HomeActivity -->
        <activity android:name=".ui.Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.EvaluationListByUtr" />
        <activity android:name=".ui.EvaluationListByPost" />
        <activity android:name=".ui.EvaluationListByAction" />
        <activity android:name=".ui.EvaluationListBySite" />
        <activity android:name=".ui.ActionPlansByUtr" />
        <activity android:name=".ui.AddEvaluationByUtr" />




        <!-- Auth Activity -->
        <!-- Décommenter cette section et commenter HomeActivity pour revenir à AuthActivity -->
        <!--
        <activity android:name="com.example.one_mobile.ui.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->


    </application>


</manifest>